body {
  font-family: Arial, sans-serif;
  background-color: #dcecbf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-heading {
  font-size: 28px;
  color: black;
}

.student-form {
  background-color: #ffffff;
  padding: 50px;
  width: 450px;
  
}

.student-form label {
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.student-form input {
  width: 100%;
  padding:10px;
  border-radius:10px;
  
}

.student-form button {
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  background-color: #ff0000;
  color: white;
  font-size:20px;
 border-radius:10px;
}

.student-form button:hover {
  background-color: #81d7ff;
}