body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #f4f8f8;
  }
  .game-container {
    text-align: center;
  }
  h1 {
    margin-bottom: 10px;
  }
  #board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
  }
  .cell {
    background-color: rgb(3, 249, 69);
    border: 2px solid #333;
    border-radius: 20px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
  }
  .cell:hover {
    background-color: #03bcfa;
  }
  #status {
    font-size: 20px;
    margin-top: 10px;
  }
  button {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 10PX;
    font-size: 16px;
    cursor: pointer;
    background-color: red;
  }