<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details </title>
</head>
<body>
            <h1>Details Page</h1>
        <h2>{{ csd.name}}</h2>
        <p>Roll No:{{ csd.rollno}}</p>
        <p>Current Semster: {{ csd.slug}}</p>
        {% if csd.image %}
            <img src="{{ csd.image.url }}" alt="Image of {{ csd.name }}" style="max-width: 1000px; max-height: 200px;">
        {% else %}
            <p>No image available.</p>
        {% endif %}
        <a href="{% url 'contact' %}">Back to Contact</a>
</body>
</html>